{% extends "baseIndex.html.twig" %}

{% block title %}Register{% endblock %}


{% block body %}
    <h1>Register</h1>
    <section class="container">
        <div class="row">
            <div class="col">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username)}}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <br>
                {{ form_row(registrationForm.agreeTerms) }}
        <br>
        <div>
                <button type="submit" class="nav-link d-flex btn btn-secondary my-2 my-sm-0" style="color: white;margin-left:1rem ">Register</button>
                {{ form_end(registrationForm) }}
                <br>
                <div style="display:flex" >
                    <p class="my-2 my-sm-2">&nbsp;already have an account?</p>
                    <a href="{{path('app_login')}}" class="nav-link d-flex btn btn-primary my-2 my-sm-0" style="color: white;margin-left:0.5rem "  >Log in</a>
                </div>
            </div>   
            </div>
        </div>
    </section>

    
{% endblock %}